[submodule "apps/l10n/l10ncr_cabys"]
	path = apps/l10n/l10ncr_cabys
	url = git@github.com:maurorosero/cabys.git
[submodule "apps/l10n/l10ncr_fe"]
	path = apps/l10n/l10ncr_fe
	url = git@github.com:maurorosero/l10ncr_fe.git
[submodule "apps/l10n/l10nca_currency"]
	path = apps/l10n/l10nca_currency
	url = git@github.com:maurorosero/l10nca_currency.git
